<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yithian.cosacompro">

    <!-- For DB backup -->
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- MAIN ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SETTINGS ACTIVITY -->
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.SettingsActivity" />
        </activity>

        <!-- MANGE SELLERS ACTIVITY-->
        <activity
            android:name=".manage_sellers.SellerListActivity"
            android:label="@string/title_seller_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="yithian.cosacompro.MainActivity" />
        </activity>
        <activity
            android:name=".manage_sellers.SellerDetailActivity"
            android:label="@string/title_seller_info"
            android:parentActivityName=".manage_sellers.SellerListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="yithian.cosacompro.manage_sellers.SellerListActivity" />
        </activity>

        <!-- MANAGE PRODUCTS ACTIVITY -->
        <activity
            android:name=".manage_products.ProductListActivity"
            android:label="@string/title_product_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="yithian.cosacompro.MainActivity" />

        </activity>
        <activity
            android:name=".manage_products.ProductDetailActivity"
            android:label="@string/title_product_info"
            android:parentActivityName=".manage_products.ProductListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="yithian.cosacompro.manage_products.ProductListActivity" />
        </activity>

        <!-- MANAGE PRODUCT PRICES ACTIVITY -->
        <activity
            android:name=".manage_productprices.ProductPriceListActivity"
            android:label="@string/title_productprice_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="yithian.cosacompro.MainActivity" />
        </activity>
        <activity
            android:name=".manage_productprices.ProductPriceDetailActivity"
            android:label="@string/title_productprice_info"
            android:parentActivityName=".manage_productprices.ProductPriceListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="yithian.cosacompro.manage_productprices.ProductPriceListActivity" />
        </activity>

        <!-- MANGE GLISTS ACTIVITY-->
        <activity
            android:name=".manage_glists.GListListActivity"
            android:label="@string/title_glist_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="yithian.cosacompro.MainActivity" />
        </activity>
        <activity
            android:name=".manage_glists.GListDetailActivity"
            android:label="@string/title_glist_list"
            android:parentActivityName=".manage_glists.GListListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="yithian.cosacompro.manage_glists.GListListActivity" />
        </activity>
    </application>

</manifest>
